<aside class="widget">
    <h3 class="widget-title">传送门</h3>
    <div class="widget-content">
<ul>
<!-- link begin -->
<li><a href='https://xue.glgoo.net/'>学术搜索</a></li>
<li><a href='https://web.archive.org/'>WebArchive（需 Hosts）</a></li>
<li><a href='https://coding.net/u/scaffrey/p/hosts/git'>常用 Hosts</a></li>
<li><a href='https://gitee.com/wizardforcel/sniffing-research'>流量嗅探研究</a></li>
<li><a href='https://www.sci-hub.cn/'>Scihub</a></li>
<!-- link end -->
</ul>
    </div>
</aside>