<% if (theme.music){ %>
  <aside class="widget">
    <h3 class="widget-title">Music</h3>
    <div class="widget-content">
      <!-- <audio src="<%= theme.music %>" controls="controls"
             style="width:100%" autoplay loop>
        您的浏览器不支持 audio 标签。
      </audio> -->

      <object type="application/x-shockwave-flash" id="ximalaya_player" data="https://www.ximalaya.com/swf/sound/purple.swf?id=28469273&auto=true" width="206" height="36"></object>
    </div>
  </aside>
<% } %>